@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/missao-impossivel/hero-desktop.jpg);
    background-position-x: 350px;
    background-size: cover;
    text-align: center;
    margin-top: -75px;

    @media(max-width: 768px) {
        background-image: url(../images/missao-impossivel/hero-desktop.jpg);
        background-position-x: 0px;
        padding-top: calc(50vw + 25px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -50px;
    }

    &__content {
        max-width: 640px;

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;

            img {
                height: 100px;

                @media(max-width: 768px) {
                    height: 50px;
                }
            }

            @media(max-width: 768px) {
                max-width: 180px;
            }
        }

        .title--small {
            margin-bottom: 64px;
        }

        p {
            margin-bottom: 20px;

            &:last-child {
                margin-top: 60px;
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;
            list-style: none;

            @media(max-width: 768px) {
                display: block;
            }

            &__combo {
                width: calc(50% - 12px);

                @media(max-width: 768px) {
                    width: 100%;
                    margin-bottom: 24px;
                }

                img {
                    max-height: 60px;
                }

                .button {
                    margin-top: 2vw;
                    margin-bottom: 8px;

                    cursor: pointer;
                }
            }
        }
    }
}