$corDeFundo: #000; // fundo quase preto
$corTextoPrincipal: #bfc3c7; // cinza metálico
$corTextoSecundario: #ffffff;

$corDeFundoBotaoPrimario: #c62828; // vermelho Missão Impossível
$corDeFundoBotaoSecundario: #1e1e1e; // cinza escuro
$corDeFundoBotaoDark: #0b0d10;